
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Notes</title>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-resource@1.5.1/dist/vue-resource.min.js"></script>

  </head>
<body>
These are your notes
<br/>
<div id="app">
    <input
            type="text"
            placeholder="make a new note"
            v-model="new_note"
    />
    <button @click='save_new_note'>Save</button>
    <input type="text" placeholder="Search Notes" v-model="search_input" v-on:keyup="search_notes"/>
    <ol>
        <li v-for="note in display_notes">
          <strike v-if=note.is_done>${note.text}</strike>
	  <span v-if='show_edit_box==note.url'><input type=text v-model=edited_note></input></span>
          <span v-else>${note.text}</span>
          <button @click='hide_show(note)' v-if='show_edit_box==""'>Actions</button>
          <span v-if='show_actions_for==note.url'>
            <button @click='toggle_done(note)' v-if='show_edit_box==""'>Done</button>
	    <button @click='initialize_edit(note)' v-if='show_edit_box==""'>Edit</button>
	    <button @click='save_edit(note)' v-else>Save</button>
            <button @click='delete_note(note)' v-if='show_edit_box==""'>Delete</button>
          </span>

        </li>
        <li v-if=new_note>${new_note}</li>
    </ol>
</div>
	</body>
{% load static %}
<script src="{% static 'notes_app/notes.js' %}"></script>
